altair==4.2.2
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
Bottleneck @ file:///work/perseverance-python-buildout/croot/bottleneck_1698877801136/work
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
category-encoders @ file:///work/perseverance-python-buildout/croot/category_encoders_1707357746710/work
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
clarabel==0.7.1
click==8.1.7
comm==0.2.2
contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
cvxopt==1.3.2
cvxpy==1.4.2
cycler==0.12.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
ecos==2.0.13
entrypoints==0.4
et-xmlfile @ file:///work/perseverance-python-buildout/croot/et_xmlfile_1698868193149/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fancyimpute==0.7.0
fastcore==1.5.29
fastjsonschema==2.19.1
fonttools==4.47.2
fqdn==1.5.1
future==0.18.3
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
iniconfig==2.0.0
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython @ file:///croot/ipython_1704833016303/work
ipython-genutils==0.2.0
ipywidgets==7.7.2
isoduration==20.11.0
itsdangerous==2.1.2
jedi @ file:///work/perseverance-python-buildout/croot/jedi_1698864582475/work
Jinja2==3.1.3
joblib @ file:///work/perseverance-python-buildout/croot/joblib_1698863139144/work
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client @ file:///work/perseverance-python-buildout/croot/jupyter_client_1701731788627/work
jupyter_core @ file:///work/perseverance-python-buildout/croot/jupyter_core_1701731747496/work
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab-widgets==1.1.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
kaleido==0.2.1
kiwisolver==1.4.5
knnimpute==0.1.0
lasio==0.31
laspy==2.5.3
llvmlite==0.42.0
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///work/perseverance-python-buildout/croot/matplotlib-suite_1698863180732/work
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mdurl==0.1.2
MiniSom==2.3.2
mistune==3.0.2
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
munkres==1.1.4
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nose==1.3.7
notebook==7.1.2
notebook_shim==0.2.4
numba==0.59.1
numexpr @ file:///work/perseverance-python-buildout/croot/numexpr_1698871031164/work
numpy @ file:///croot/numpy_and_numpy_base_1704311704800/work/dist/numpy-1.26.3-cp312-cp312-linux_x86_64.whl#sha256=71892d12f82a9c47262bffc99a1edd8ebc0b3d1e033366094bd45a8b4c7c2d43
openpyxl @ file:///work/perseverance-python-buildout/croot/openpyxl_1698896491780/work
osqp==0.6.5
overrides==7.7.0
packaging @ file:///work/perseverance-python-buildout/croot/packaging_1698805390494/work
pandas @ file:///croot/pandas_1702317985682/work/dist/pandas-2.1.4-cp312-cp312-linux_x86_64.whl#sha256=e08f6f54958b7b5f7624ec6b206777bd22f94786e77f06f8d346e758d3da3fac
pandas-flavor==0.6.0
pandocfilters==1.5.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///croot/pillow_1707233021655/work
pingouin==0.5.4
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
plotly==5.18.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==4.25.3
psutil @ file:///work/perseverance-python-buildout/croot/psutil_1698863411559/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==16.0.0
pybind11==2.12.0
pycparser==2.21
pydeck==0.9.0b0
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
pyparsing==3.1.1
pytest==8.1.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-decouple==3.8
python-json-logger==2.0.7
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1698849876288/work
PyYAML==6.0.1
pyzmq @ file:///croot/pyzmq_1705605076900/work
qdldl==0.1.7.post1
qtconsole==5.5.1
QtPy==2.4.1
radian==0.6.12
rchitect==0.4.6
referencing==0.34.0
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
scikit-learn==1.3.2
scikit-posthocs==0.9.0
scipy @ file:///work/perseverance-python-buildout/croot/scipy_1701734271484/work/dist/scipy-1.11.4-cp312-cp312-linux_x86_64.whl#sha256=9289920d160658418dd16cfd0f12bdea66b3fa37a45c5e8aca5e285681c014a9
scs==3.2.4.post1
seaborn @ file:///work/perseverance-python-buildout/croot/seaborn_1698874413341/work
Send2Trash==1.8.3
setuptools==68.2.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
squarify==0.4.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///work/perseverance-python-buildout/croot/statsmodels_1701748323053/work
stqdm==0.0.5
streamlit==1.33.0
streamlit-aggrid==1.0.4.post3
streamlit-jupyter==0.2.1
strsimpy==0.2.1
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
tornado @ file:///work/perseverance-python-buildout/croot/tornado_1698866362018/work
tqdm==4.66.2
traitlets @ file:///work/perseverance-python-buildout/croot/traitlets_1698846387632/work
tslearn==0.6.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.9.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
uri-template==1.3.0
urllib3==2.2.0
watchdog==4.0.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
wheel==0.41.2
widgetsnbextension==3.6.6
xarray==2024.2.0
xlrd==2.0.1
zipp==3.17.0
